head{
	background-color:black;
}
body{
	background-color: black ;
}

h1{
	font-size: 3em; 
	font-weight: bold;
	font-family: "Roboto";
	margin-left: 100px;
	padding-bottom: 50px;
	color: white;
}

#works{
	border-width: 1px;
	border-bottom: solid;
	padding-bottom: 0;
	margin-right: 0px;
}

.skip{
	left: -100%;
	position: absolute;
	transform: translateY(-100%);
}

.skip:focus {
	left: 50%;
	position: absolute;
	transform: translateY(0%);
  }

img{
	padding-left: 25%;
}

.psuedo:hover{
	background-color: greenyellow;
}
nav li{
	font-family: Arial;
	padding:10px;
	display: inline-block;
	text-decoration: none;
	color:white;

}

.nav_links{
	display: flex;
	flex-direction: row;
	justify-content: left;
	text-decoration: none;
	color:white;

}
a{
	max-width: 300px;
	margin-left: 25%;
}

a:link{
	text-decoration: overline;
	color:white;
}

a:hover{
	text-decoration: overline greenyellow 5px;
	}
a:visited{
	color:white;
}

.sound_transit{
	display:grid;
	grid-template-columns: 1fr 1fr;
	background-color: white;
	margin-bottom: 5%;
}

.canfield_consortium{
	display:grid;
	grid-template-columns: 1fr 1fr;
	background-color: aquamarine;
	margin-bottom: 5%;
}

.google_assistant{
		display:grid;
		grid-template-columns: 1fr 1fr;
		background-color: #e0eefc;
		margin-bottom: 5%;
}

.maize_blue{
	display:grid;
	grid-template-columns: 1fr 1fr;
	background-color: peachpuff;
}

#maize_blue_img{
	padding-top: 5%;
}

#sound_transit_img{
	padding-top: 5%;
}

.container{
	padding-top: 2%;
	margin-left: 100px;
	margin-right: 100px;
}

footer{
	border-top-style: solid;
	border-width: 1px;
	margin-top: 2%;
}

@keyframes animation1{
	from {width: 0;}
	to {width: 500px}
}

#animate_this{
	white-space: nowrap;
	overflow: hidden;
	width: 30em;
	animation: animation1 4s steps(60, end);
	color: aqua;
}

@media (prefers-reduced-motion){
	h1{
		font-size: 3em; 
		font-weight: bold;
		font-family: "Roboto";
		animation: none;
	}
}

h2{
	font-size: 3em; 
	font-weight: bold;
	font-family: "Roboto";
}

p{
	font-family: "Roboto";
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 5%;
	font-size: 25px;
}

footer{
	color: white;
}

#footer_p{
	font-size: 12px;
	padding:1%;
}

